<!DOCTYPE html>
<html>

<head>
	<script src ="https://unpkg.com/cookie_js@1.2.2/cookie.min.js%22%3E"</script>
	<script src ="/socket.io/socket.io.js"></script>
	<script src ="https://code.jquery.com/jquery-1.11.1.js%22%3E"</script>
</head>

<body>
    <script>
        var socket = io.connect('http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/default');
        window.addEventListener("load", myInit, true);

        function myInit() {
            var game_id = window.location.hash.substring(1);
            socket.emit('newGame', "true");
            window.location.href = 'p_game.html' + '#' + game_id;
        };
    </script>
</body>

</html>
