<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Lobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="google-signin-client_id" content="80146750892-vh2nftso2rsa1h09ogk22qdd76ackhjh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="user_Game.js"></script>
    <script src="available_games.js"></script>
    <script src="online_players.js"></script>
    <script src="resizable.js"></script>
    <script src="onGames.js"></script>
    <!--used for chat box-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link href="site.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation var-->
    <div class="container">
        <nav class="navbar nav-border navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                     
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Lobby</a></li>
                        <li><a href="index.html">Login</a></li>
                        <li><a href="b_Players.html">Best Players</a></li>
                        <li><a href="rules.html">Rules</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" onclick="signOut();"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- User Game table -->
    <!--<input type="button" onclick="user_game()" value="Create Table From JSON" /> -->
    <div id="content">
        <div id="nav" class="tab"></div>
        
        <div id="form" class="tab">
            <div id="wrapper">
                <button style ="float: left; margin-bottom: 15px" onclick="newGame()">new game</button>

            </div>
            
            <div class="table-header">
                <h4> User Games</h4>
            </div>
            <p id="userGames"></p>

            <div class="table-header">
                <h4> Ongoing Games</h4>
            </div>
            <div>
                <p id="onG"></p>
            </div>

            

        </div>
        <div id="map" class="tab">
            <!--div class="table-header">
                <h4> Available Games</h4>
            </div>
            <div>
                <p id="available_games"></p>
            </div-->

            
            <div>
                <header>
                    <div class="chat-header">
                        <div class="table-header">
                            <h4> chat</h4>
                        </div>
                    </div>
                    <div class="player-header">
                        <div class="table-header">
                            <h4> Online</h4>
                        </div>
                    </div>
                </header>

                <section class="chat">
                    <!--<p><strong>John</strong>: Hello!</p>
                    <p><strong>Bob</strong>: How are you!</p>-->
                </section>

                <section class="onlineP">
                    <div>
                        <p id="p_online"></p>
                    </div>
                </section>

                <form display="block" id="send-message">
                    <input  style = "width: 75%" type="text" id="message" placeholder="be respecful when you chat" autocomplete="off" />
                    <button style = "width: 20%" id="chat-button" type="submit">Send</button>
                </form>
            </div>
            
            <div class="table-header">
                <h4> Available Games</h4>
            </div>
            <div>
                <p id="available_games"></p>
            </div>
            
        
        </div>   


        <div id="utils" class="tab">

        </div>
    </div>
    <script>
        var socket = io.connect('http://54.149.192.92:3000/default');

        function newGame() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/create');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                socket.emit('newGame', "true");
            };
            socket.on('newGame', function(msg) {
                available_games();
            });
            const user_id = cookie.get('user');
            console.log('Signed in as: ' + user_id);
            xhr.send('user_id=' + user_id);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
                cookie.set('user', "");
                window.location.href = "index.html";
            });
        }

        function onLoad() {
            console.log('I am here');
            gapi.load('auth2', function() {
                gapi.auth2.init();
                console.log('User signed in.');

            });
        }

        //On the client side, you tell Socket.IO client to connect to that namespace:
        //to fix error use http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/default on server
        //var socket = io.connect('http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/default');

        // The user count. Can change when someone joins/leaves
        /*socket.on('count', function(data) {
            $('.user-count').html(data);
        });*/

        socket.emit('new user', cookie.get('user') || 'Anonymous');
        socket.on('usernames', function(data){
            var jsonExamples = data;
            onlineP();
        })


        // When we receive a message
        // it will be like { user: 'username', message: 'text' }
        socket.on('message', function(data) {
            $('.chat').append('<p><strong>' + data.user + '</strong>: ' + data.message + '</p>');
            $(".chat").stop().animate({
                scrollTop: $(".chat")[0].scrollHeight
            }, 1000);
        });

        // When the form is submitted
        $('form').submit(function(e) {
            // Avoid submitting it through HTTP
            e.preventDefault();

            // Retrieve the message from the user
            var message = $(e.target).find('input').val();
 
            // Send the message to the server
            socket.emit('message', {
                user: cookie.get('user') || 'Anonymous',
                message: message
            });

            // Clear the input and focus it for a new message
            e.target.reset();
            $(e.target).find('input').focus();
        });

        window.addEventListener("load", myInit, true);

        function myInit() {
            user_Games(), onlineP(), available_games(), onGames(), onLoad()
        };

        $(".avGames").scrollTop(0);
        $(".auGames").scrollTop(0);
        $(".onGames").scrollTop(0);
    </script>

</body>

</html>