<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>private game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <meta name="google-signin-client_id" content="80146750892-vh2nftso2rsa1h09ogk22qdd76ackhjh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/moves.js"></script>
    <script src="js/chessboard-0.3.0.js"></script>
    <script src="js/chessboard-0.3.0.min.js"></script>
    <link href="css/p_game.css" rel="stylesheet">
    <link href="css/chessboard-0.3.0.css" rel="stylesheet">
    <link href="css/chessboard-0.3.0.min.css" rel="stylesheet">
    <!--used for chat box-->
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
    <!-- Navigation var-->
    <div class="container">
        <nav class="navbar nav-border navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                     
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Private Game</a></li>
                        <li><a href="lobby.html">Lobby</a></li>
                        <li><a href="rules.html">Rules</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html" onclick="signOut();"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        <div id="nav" class="tab"></div>
        <div id="board" class="tab">
        </div>
        <div id="map" class="tab">
            <div class="table-header">
                <h4> Game Moves</h4>
            </div>
            <section class="moves">
                <p id="move"></p>
            </section>
            <header>
                <div class="chat-header">
                    <div class="table-header">
                        <h4> chat</h4>
                    </div>
                </div>
            </header>

            <section class="chat">

            </section>

            <form>
                <input type="text" placeholder="be respecful when you chat" />
                <button>Send</button>
            </form>
        </div>
        <div id="utils" class="tab">

        </div>
    </div>

    <script>
        var socket_connect = function(room) {
            return io('http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com', {
                query: 'rooms=' + room
            });
        }
        var game_id = window.location.hash.substring(1);
        var socket = socket_connect(game_id)
        var players = cookie.get('user');
        var player
        var state
        var url = "http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/players";
        var params = "game_id=" + game_id;
        var request = new XMLHttpRequest();
        request.open('GET', url + "?" + params, false); // `false` makes the request synchronous
        request.send(null);
        if (request.status === 200) {
            player = JSON.parse(request.responseText);
        }
        var player1 = player[0].player_1;
        var player2 = player[0].player_2;
        if (player2 != "") {

        }

        var board,
            game = new Chess();

        var removeGreySquares = function() {
            $('#board .square-55d63').css('background', '');
        };

        var greySquare = function(square) {
            var squareEl = $('#board .square-' + square);

            var background = '#a9a9a9';
            if (squareEl.hasClass('black-3c85d') === true) {
                background = '#696969';
            }

            squareEl.css('background', background);
        };

        //pick only valid pieces and only if it is the right player turn
        var onDragStart = function(source, piece, position, orientation) {
            console.log("here at onDrag " + source + piece + position + orientation)
            if ((orientation === 'white' && game.turn() === 'b' && piece.search(/^b/) !== -1) ||
                (orientation === 'white' && game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                (orientation === 'black' && game.turn() === 'w' && piece.search(/^w/) !== -1) ||
                (orientation === 'black' && game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                return false;
            }
        };

        //update the game on move received
        socket.on('move', function(msg) {
            game.move(msg);
            board.position(game.fen()); // fen is the board layout
            moves(game_id);
        });

        //check for moves handle the move and send it to the backend 
        var handleMove = function(source, target) {
            removeGreySquares();
            var move = game.move({
                from: source,
                to: target,
                promotion: 'q' // NOTE: always promote to a queen for example simplicity
            })
            if (move === null) {
                alert("illigal move");
                return 'snapback';
            } else {
                move["fen"] = game.fen();
                move["game_id"] = game_id;
                socket.emit('move', move);
            }
            updateStatus();
        }

        //check game status for player turn/ game end etc
        var updateStatus = function() {
            var status = '';

            var moveColor = 'White';
            if (game.turn() === 'b') {
                moveColor = 'Black';
            }

            // checkmate?
            if (game.in_checkmate() === true) {
                status = 'Game over, ' + moveColor + ' is in checkmate.';
            }

            // draw?
            else if (game.in_draw() === true) {
                status = 'Game over, drawn position';
            }

            // game still on
            else {
                status = moveColor + ' to move';

                // check?
                if (game.in_check() === true) {
                    status += ', ' + moveColor + ' is in check';
                }
            }
            // Send the message to the server
            socket.emit('message', {
                user: "Status",
                message: status,
                chat_id: game_id
            });
        };

        var onMouseoverSquare = function(square, piece) {
            // get list of possible moves for this square
            var moves = game.moves({
                square: square,
                verbose: true
            });

            // exit if there are no moves available for this square
            if (moves.length === 0) return;

            // highlight the square they moused over
            greySquare(square);

            // highlight the possible squares for this piece
            for (var i = 0; i < moves.length; i++) {
                greySquare(moves[i].to);
            }
        };

        var onMouseoutSquare = function(square, piece) {
            removeGreySquares();
        };

        var onSnapEnd = function() {
            board.position(game.fen())
        };

        var cfg = {
            draggable: true,
            position: getFen(),
            onDragStart: onDragStart,
            onMouseoutSquare: onMouseoutSquare,
            onMouseoverSquare: onMouseoverSquare,
            onSnapEnd: onSnapEnd,
            onDrop: handleMove,
        };
        board = ChessBoard('board', cfg);
        if (players === player2) {
            board.orientation('black');
        }
        if (status != 'start') {
            game.load(getFen());
        }
        updateStatus();

        $(window).resize(board.resize);

        //parse the message recived and displaye it on the chat
        socket.on('message', function(data) {
            $('.chat').append('<p><strong>' + data.user + '</strong>: ' + data.message + '</p>');
            $(".chat").stop().animate({
                scrollTop: $(".chat")[0].scrollHeight
            }, 1000);
        });

        // When the form is submitted
        $('form').submit(function(e) {
            // Avoid submitting it through HTTP
            e.preventDefault();

            // Retrieve the message from the user
            var message = $(e.target).find('input').val();

            // Send the message to the server
            socket.emit('message', {
                user: cookie.get('user'),
                message: message,
                chat_id: game_id
            });

            // Clear the input and focus it for a new message
            e.target.reset();
            $(e.target).find('input').focus();
        });

        //validate user for signout
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                cookie.set('user', "");
                window.location.href = "index.html";
            });
        }

        function onLoad() {
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });

        }

        function getFen() {
            var url = "http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/fen";
            var params = "game_id=" + game_id;
            var request = new XMLHttpRequest();
            request.open('GET', url + "?" + params, false); // `false` makes the request synchronous
            request.send(null);
            if (request.status === 200) {
                pos = JSON.stringify(request.responseText);
                state = pos.replace(/"/g, '');
                return state
            }
        }

        function chat_history() {
            var chat;
            var request = new XMLHttpRequest();
            var params = 'http://ec2-54-149-192-92.us-west-2.compute.amazonaws.com/chatHistory?chat_id=' + game_id;
            request.open('GET', params); // `false` makes the request synchronous
            request.onload = function() {
                if (request.status == 200) {
                    chat = JSON.parse(request.responseText)
                    var col = [];
                    for (var i = 0; i < chat.length; i++) {
                        $('.chat').append('<p><strong>' + chat[i].display_name + '</strong>: ' + chat[i].messages + '</p>');
                        $(".chat").stop().animate({
                            scrollTop: $(".chat")[0].scrollHeight
                        }, 1000);
                    }
                }
            }
            request.send(null);
        }

        window.addEventListener("load", myInit, true);

        function myInit() {
            onLoad(), chat_history(), user(), moves(game_id);
        };

        //check if valid user or redirect to login page
        function user() {
            if (cookie.get('user') == undefined) {
                window.location.href = "index.html";
            }

        }

        //scroll table to last moves
        $(".moves").stop().animate({
            scrollTop: $(".moves")[0].scrollHeight
        }, 100);
    </script>
</body>

</html>