<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="google-signin-client_id" content="80146750892-vh2nftso2rsa1h09ogk22qdd76ackhjh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="css/site.css" rel="stylesheet">
    <!--used for chat box-->
</head>

<body>
    <!-- Navigation var-->
    <div class="container">
        <nav class="navbar nav-border navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                         
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Rules</a></li>
                        <li><a href="lobby.html">Lobby</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html" onclick="signOut();"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div style="text-align:center; color: white;">

            <h2> Game And Chat Rules </h2> <br> <br> <br>

            <h3>Game Rules</h3>
            <p> For the game Rules please go to <a class="" href="https://en.wikipedia.org/wiki/Rules_of_chess">Here</a> </p> <br>
            <h3>Chat Rules</h3>
            <p> Be respectful </p>
            <p> You may not harass, insult, badger, or threaten other players </p>
            <p> </p>
            <p></p>
            <p></p>
            <p></p>

        </div>
</body>
<script>
    //validate user for signout
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            cookie.set('user', "");
            window.location.href = "index.html";
        });
    }

    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();


        });

    }

    function myInit() {
        onLoad();
    };
</script>

</html>